<footer class="site-footer">

  <div class="wrapper">

<!--     <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><strong>{{ site.title }}</strong></li>
			<li>{{ site.jobtitle }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
 

         <p class="text">
		Department of German Language and Literature<br />
		#31321, 3rd floor of toegye hall of humanities<br />
		25-2, Sungkyunkwan-Ro, Jongno-gu, Seoul, Korea<br />
    <br/ >
    성균관대학교 독어독문학과<br />
    퇴계인문관 3층 31321호실<br />
    서울특별시 종로구 성균관로 25-2  성균관대학교<br />
    </p> <!-- {{ site.description }} -->
      </div>

      <div class="footer-col  footer-col-3">
       <ul class="social-media-list">

                  {% if site.google_scholar_id %}
  <li>
    <a href="https://scholar.google.com/citations?user={{ site.google_scholar_id }}">
      <i class="ai ai-google-scholar" style="color:gray"></i> Google Scholar
    </a>
  </li>
{% endif %}
     

          {% if site.github_username %}
  <li>
    <a href="https://github.com/{{ site.github_username }}">
      <i class="fa fa-github" style="color:gray"></i> Github
    </a>
  </li>
{% endif %}

          {% if site.orcid_id %}
  <li>
    <a href="https://orcid.org/{{ site.orcid_id }}">
      <i class="ai ai-orcid" style="color:gray"></i> ORCID
    </a>
  </li>
{% endif %}

          {% if site.twitter_username %}
  <li>
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <i class="fa fa-twitter" style="color:gray"></i> Twitter
    </a>
  </li>
{% endif %}






       
        </ul>
      </div>
    </div>

  </div>

</footer>
